spec:
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        # You can set runAsUser to a non-root UID, e.g., 1000
        runAsUser: 1000
      containers:
      - name: fastmcp-container
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
          capabilities:
            drop:
            - NET_RAW
